node_modules
yarn.lock
dist.zip
dist
/.idea/shelf/_____15_09_2024__21_24____.xml
/.idea/JS3-Acode.iml
/.idea/modules.xml
/.idea/inspectionProfiles/Project_Default.xml
/.idea/shelf/Несохраненные_изменения_перед_Обновление_в_15_09_2024,_21_24_[Список_изменений]/shelved.patch
/.idea/vcs.xml
/.idea/workspace.xml
